FIGMA_FILE_KEY=F3RebM3vrX7z9Pe1DDgDP8
FIGMA_DS_PAGE_NODE_ID=114:2
FIGMA_SCREEN_HOME_NODE_ID=126:438
FIGMA_SCREEN_PLAYER_STATS_NODE_ID=126:488
FIGMA_SCREEN_MATCH_NODE_ID=126:505
FIGMA_SCREEN_PAUSE_REPLAY_NODE_ID=126:526

# Optional override of the built-in Kinescope players. Restart next / redeploy after change.

# NEXT_PUBLIC_VIDEO_BARCELONA=https://kinescope.io/aiAQEuMpLgLgmbH2BXPTbJ
# NEXT_PUBLIC_VIDEO_ZIDANE=https://kinescope.io/iZX4hceJyJsjw1dDqXvW1D
# NEXT_PUBLIC_VIDEO_PORTUGAL2016=https://kinescope.io/5qKPNVkdiVW24Zd6p7dvzy
# NEXT_PUBLIC_VIDEO_EURO2008=https://kinescope.io/mqAAhhVuecQi9TaqYXRTsh
# NEXT_PUBLIC_VIDEO_CROATIA=https://kinescope.io/gkYueWhGiCdYWFiw96bxE7
# NEXT_PUBLIC_VIDEO_FRANCE2016=https://kinescope.io/5qKPNVkdiVW24Zd6p7dvzy
# NEXT_PUBLIC_VIDEO_HUNGARY=https://kinescope.io/c1CA24qRc65yVEwjxzU7fy
# NEXT_PUBLIC_VIDEO_WALES=https://kinescope.io/oSoZxUhHdkN71VHKXKQf9d
# NEXT_PUBLIC_VIDEO_USAGHANA2010=https://kinescope.io/fr3onwmYX4sqAmiNmjMBYh
# NEXT_PUBLIC_VIDEO_REAL_ATLETICO_2014=https://kinescope.io/82QUgLDUsjRXaQRBtnw48C
# NEXT_PUBLIC_VIDEO_REAL_LIVERPOOL_2018=https://kinescope.io/3THWZDt56qrSBNxcwCyEa6
# NEXT_PUBLIC_VIDEO_REAL_ATLETICO_2016=https://kinescope.io/bfLgh8LKZdZjRrSjyYNq3M
