FIGMA_FILE_KEY=F3RebM3vrX7z9Pe1DDgDP8
FIGMA_DS_PAGE_NODE_ID=114:2
FIGMA_SCREEN_HOME_NODE_ID=126:438
FIGMA_SCREEN_PLAYER_STATS_NODE_ID=126:488
FIGMA_SCREEN_MATCH_NODE_ID=126:505
FIGMA_SCREEN_PAUSE_REPLAY_NODE_ID=126:526
