:root {
  --figma-elements-icons: #ffffff;
  --figma-elements-accent: #012fff;
  --figma-text-primary: #5e5e5e;
  --figma-text-secondary: #ffffff;
  --figma-bg-cards: #c1c1c1;
  --figma-bg-cards-elements: #aeaeae;
  --figma-bg-accent-primary: #012fff;
  --figma-bg-accent-secondary: #181818;
  --figma-bg-accent-tretiary: #e1fb5c;
  --figma-bg-cards-glass: #00000066;
  --figma-bg-page: #d6d6d6;
  --figma-main-success: #4ecc91;

  --figma-effect-glass-frost: 4px;
  --figma-effect-glass-refraction: 4px;
  --figma-effect-glass-depth: 4px;
  --figma-effect-glass-dispersion: 4px;
  --figma-effect-glass-splay: 4px;
  --figma-glass-screen-blur: 20px;

  --figma-type-font-family-primary: "Cartograph Mono CF", ui-monospace, monospace;
  --figma-type-font-family-secondary: Geneva, system-ui, sans-serif;

  --figma-size-h1: 24px;
  --figma-size-h2: 28px;
  --figma-size-h3: 20px;
  --figma-size-t1: 15px;
  --figma-size-t2: 13px;
  --figma-size-t3: 12px;
  --figma-size-button-1: 18px;

  --figma-weight-h1: 900;
  --figma-weight-h2: 900;
  --figma-weight-h3: 700;
  --figma-weight-t1: 400;
  --figma-weight-t2: 400;
  --figma-weight-t3: 400;
  --figma-weight-button-1: 600;

  --figma-line-height-h1: 28px;
  --figma-line-height-h2: 40px;
  --figma-line-height-h3: 28px;
  --figma-line-height-t1: 20px;
  --figma-line-height-t2: 16px;
  --figma-line-height-t3: 15px;
  --figma-line-height-button-1: 24px;

  --figma-letter-spacing-h1: 0.01px;
  --figma-letter-spacing-h2: 0.01px;
  --figma-letter-spacing-h3: 0.01px;
  --figma-letter-spacing-t1: 0.01px;
  --figma-letter-spacing-t2: 0px;
  --figma-letter-spacing-t3: 0px;
  --figma-letter-spacing-button-1: 0.01px;

  --figma-space-xs: 4px;
  --figma-space-s: 8px;
  --figma-space-m: 12px;
  --figma-space-l: 20px;
  --figma-space-xl: 28px;

  --figma-radius-xs: 12px;
  --figma-radius-s: 20px;
  --figma-radius-m: 32px;
  --figma-radius-l: 40px;
  --figma-radius-xl: 999px;

  --figma-glass-frost: var(--figma-glass-screen-blur);
}
